* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
	--wght: 300;
	--color: black;
  }
body {
  color: black;
  font-family: "Sins", serif;
  font-style: normal;
  font-size: 15px;
  line-height: 1.5;
  color: var(--color);
  height: 100vh;
}
h1{
	font-size: 36pt;
}
h2{
	padding-top: 1em;
}
a,
a:visited {
  color: orange;
}
.darkmode {
  background: black;
  color: white;
}
.darkmode h1 {
  color: yellow;
}
button {
  font-family: sins;
  position: fixed;
  right: 30px;
  bottom: 30px;
  border-radius: 15px;
  padding: 5px;
  background-color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: orange;
}

@font-face {
  font-family: "Sins";
  src: url("SinsVF.ttf") format("truetype-variations");
}


.magical,
.magical * {
  font-variation-settings: "wght" var(--wght);
}

section {
  padding: 2rem 3rem;
}

#intro {
  font-size: 10vw;
  line-height: 1;
  text-align: center;
}

#content {
  width: 33em;
  height: 500px;
  --wght: 900;
}

#content p {
  transition: font-variation-settings 400ms ease-in-out;
}

/*SLIDER STYLES*/

#sliders ul {
	
  margin: auto;
}
#sliders li {
	font-size: 20px;
  display: flex;
  justify-content: center;
}

.range-name,
.min,
.max {
  width: 100px;
}
.min {
  text-align: right;
}
.range-name::after {
  content: ": ";
}

input.axis-range {
  width: 580px;
  margin: 0 20px;
}
