* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --wght: 300;
  --color: black;
}
body {
  color: black;
  font-family: "Sins", serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5;
}
.container {
  
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: baseline;
}
section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  align-items: baseline;
}

h2 {
  padding-top: 10px;
}
a,
a:visited {
  color: magenta;
}
.darkmode {
  background: black;
  color: white;
}
#buttons {
  text-align: center;
}
button {
  font-family: "sins";
  font-variation-settings: "wght" 900;
  font-size: 1rem;
  background: white;
  border-radius: 50%;
  outline: none;
  border: 2px solid black;
  padding: 10px;
}
button:hover {
  color: greenyellow;
  cursor: pointer;
}
#darkmode {
  font-family: sins;
  position: fixed;
  right: 30px;
  bottom: 30px;
  border-radius: 15px;
  padding: 5px;
  background-color: white;
  border: none;
  cursor: pointer;
}
#darkmode:hover {
  background-color: magenta;
}

@font-face {
  font-family: "Sins";
  src: url("SinsVF.ttf") format("truetype-variations");
}

.magical,
.magical * {
  font-variation-settings: "wght" var(--wght);
}

#intro {
  font-size: 7rem;
  line-height: 1;
  text-align: center;
}

/*SLIDER STYLES*/

#sliders ul {
  margin: 20 50px;
  /* white-space: nowrap; */
}
#sliders li {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
}

.range-name,
.min,
.max {
  width: 100px;
  margin: 20px;
}
.min, .max{
  text-align: center;
}
.range-name::after {
  content: ": ";
}

input.axis-range {
  width: 300px;
  margin: 0px;
  -webkit-appearance: none;
  background: none;
}
.axis-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: magenta;
  cursor: pointer;
}
#variable {
  min-width: 100vw;
}
